// 
// _card.scss
// 

.card {
  background-color: #f9f9f9;
  margin-bottom: $grid-gutter-width;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $gray-400;
  margin-bottom: 24px;
}